body {
  background: rgba(245, 245, 245, 1) !important;
  color: rgba(42, 41, 46, 1);
}

button,
a {
  cursor: pointer;
}

img,
svg {
  user-select: none;
  pointer-events: none;
}

.heading-1 {
  font-size: 38px;
}

.common-p {
  padding-left: 64px;
  padding-top: 32px;
  padding-bottom: 34px;
}

.common-container {
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
}

.common-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 16px;
  background: var(--white);
  width: 720px;
  border-radius: 5px;

  font-size: 13px;
  line-height: 16px;

  color: rgba(156, 154, 165, 1);
}