.filter__list-item {
  color: rgba(156, 154, 165, 1);
  min-width: 124px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.filter__list-item:not(:last-child) {
  border-right: 1px solid rgba(245, 245, 245, 1);
}

.filter__list-item.active {
  background: rgba(42, 41, 46, 1);
  color: #fff;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.filter__buttons-item {
  border: none;
  outline: none;
  background: none;

  
  width: 40px;
  height: 40px;

  background-color: #fff;
}

.filter__buttons-item.active {
  background: rgba(42, 41, 46, 1);
  color: #fff;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.filter__buttons-item:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}


.descr__summ .digit,
.descr__remain .digit,
.descr__data .digit {
  color: rgba(107, 106, 114, 1);
}