@font-face {
	font-family: 'Grtsk Giga';
	src: url('../fonts/GrtskGiga-Regular.eot');
	src: local('Grtsk Giga Regular'), local('GrtskGiga-Regular'),
		url('../fonts/GrtskGiga-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GrtskGiga-Regular.woff2') format('woff2'),
		url('../fonts/GrtskGiga-Regular.woff') format('woff'),
		url('../fonts/GrtskGiga-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}