.manage {
  min-width: 1088px;
  width: 100%;
}

.table-headerName {
  background-color: #eaebed;
  color: #090714;
  font-size: 12px;
}

.MuiDataGrid-row [data-field*='fact_month'] {
  box-shadow: -5px 0 10px 0 rgba(0, 0, 0, 0.05);
}

.table-headerName {
  background-color: #eaebed;
  color: #090714;
  font-size: 12px;
}

.MuiDataGrid-row [data-field*='fact_month'] {
  box-shadow: -5px 0 10px 0 rgba(0, 0, 0, 0.05);
}
