.sidebar__logo {
  display: flex;
  position: relative;
  margin: 14px 0px;
  text-decoration: none;
}

.ps-sidebar-root {
  width: 240px !important;
  min-width: 240px !important;
  min-height: 100vh;
  background-color: #fff;
  box-sizing: border-box;
  margin-right: 24px;
  flex-direction: column;
}

.ps-collapsed {
  width: 64px !important;
  min-width: 64px !important;
}
.ps-collapsed .sidebar__menu-title {
  display: none;
}

.ps-collapsed .sidebar-listitem {
  width: 48px;
  display: flex;
  justify-content: center;
}

.ps-collapsed .sidebar-listitem {
  width: 48px;
}

.ps-collapsed .SidebarButton {
  width: 48px;
  min-width: 48px;
  display: flex;
  justify-content: flex-start;
}
