.sidebar__logo {
  display: block;
  margin: 24px 0px;
}

.ps-sidebar-root {
  width: 240px;
  position: fixed;
  top: 0px;
  left: 0px;
}

.ps-collapsed {
  width: 64px !important;
}

.ps-collapsed .sidebar__menu-title {
  display: none;
}
