.sidebar {
  left: 0;
  top: 0;
  height: 100%;
  background: #F7F9FC;
  position: fixed;
  overflow: auto;
  z-index: 10;
  width: 64px;
  /* padding: 40px 40px 40px 55px; */
  transition: .2s;
  box-shadow: 0 0 10px #00000012;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar__list-item {
  padding: 10px;
  background: rgb(219, 219, 219);
  border-radius: 5px;
}

.sidebar__list-item:not(:last-child) {
  margin-bottom: 5px;
}